post_trans_script = '''
#!/bin/bash -e

# FORCE=
# See: https://docs.fedoraproject.org/en-US/packaging-guidelines/Scriptlets/#_syntax
# if [ $1 -eq 2 ]; then
#     # Upgrade
#     FORCE=-f
# fi
'''

post_uninstall_script = '''
#!/bin/bash -e
#RPM_SYSTEMD_MACROS#

# See: https://docs.fedoraproject.org/en-US/packaging-guidelines/Scriptlets/#_syntax
# if [ $1 -eq 0 ] ; then
#     # Uninstallation
# fi
'''
