name: Packaging

on:
  push:
    tags:
      - v*

  # Triggering on PRs and arbitrary branch pushes is not enabled because most of the time only the CI build should be
  # triggered, not the packaging build. In cases where you want to test changes to this workflow this trigger enables
  # you to manually invoke this workflow on an arbitrary branch as needed.
  workflow_dispatch:

jobs:
  package-dnst:
    uses: NLnetLabs/ploutos/.github/workflows/pkg-rust.yml@v8
    # secrets:
    #   DOCKER_HUB_ID: ${{ secrets.DOCKER_HUB_ID }}
    #   DOCKER_HUB_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}
    with:
      docker_org: nlnetlabs
      docker_repo: dnst
      docker_build_rules: pkg/rules/docker-images-to-build.yml
      docker_sanity_check_command: --version

      package_build_rules: pkg/rules/packages-to-build.yml
      package_test_rules: pkg/rules/packages-to-test.yml
      package_test_scripts_path: pkg/test-scripts/test-<package>.sh

      cross_build_args: --features static-openssl

      deb_extra_build_packages: libssl-dev
      rpm_extra_build_packages: make openssl-devel
      rpm_scriptlets_path: pkg/rpm/scriptlets.toml

  package-dnst-ldnsutils:
    needs: package-dnst
    # Package empty dnst-ldnsutils package to create symlinks
    uses: NLnetLabs/ploutos/.github/workflows/pkg-rust.yml@v9
    with:
      package_build_rules: pkg/dnst-ldnsutils/pkg/rules/ldns_packages-to-build.yml
      package_test_rules: pkg/dnst-ldnsutils/pkg/rules/ldns_packages-to-test.yml
      package_test_scripts_path: pkg/dnst-ldnsutils/pkg/test-scripts/test-<package>.sh

      rpm_scriptlets_path: pkg/dnst-ldnsutils/pkg/rpm/scriptlets.toml

      manifest_dir: pkg/dnst-ldnsutils
